* {
	margin: 0px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 2px;
	color: black;
	background: white;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

h1 {
	padding-left: 30px;
	padding-bottom: 5px;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.background-photo {
	width: 100%;
	position: relative;
}

.background-photo .background-text {
	position: absolute;
	top: 30%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.tit {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 10px;
}

.ti {
	font-size: 30px;
	font-weight: bold;
}

.selectPage {
	display: table;
	width: 80%;
	height: 200px;
	margin-top: 30px;
	padding-left: 10%;
}

.selectPage_Box {
	width: 33%;
	height: 100%;
	background: #282828;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selectPage_Box:nth-child(2) {
	background: #424242;
}

p {
	color: white;
	z-index: 1;
}

a {
	padding:90px;
}

.clickVal{
}

@media ( max-width : 800px ) {
	.selectPage_Box {
		width: 50%;
	}
}

@media ( max-width : 450px ) {
	.selectPage_Box {
		width: 100%;
	}
}